body {
    margin: 0;
    font-family: "azeret mono", monospace;
    background-color: rgba(195, 189, 201, 1);
}

#icon {
    margin: 5px;
    position: relative;
    height: 50px;
    width: auto;
}
header {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: #3B2C54;
    color: white;
    margin: 0;
    top: 0;
    right: 0;
    padding: 0;
}

header h1 {
    position: relative;
    font-size: 20px;
    font-weight: normal;
    margin: 0;
    color: white;
}

header h2 {
    position: relative;
    font-size: 10px;
    font-weight: normal;
    margin: 0 0 7px 0;
    color: white;
}

header b {
    color: black;
    background-color: white;
}

header div {
    position: relative;
    display: flex;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
}

header section {
    position: relative;

}

#minhas-redes {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 5px;
}

#minhas-redes button {
    background-color: #3B2C54;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    outline: none;
}
#minhas-redes img{
    width: auto;
    height: 25px;
}

#minhas-redes button:hover {
    background-color: #533f72;
}

a {
    margin: 0;
    text-decoration: none;
    color:#3B2C54;
    text-decoration: underline;
}

.redes {
    margin: 0;
}

#menu {
    position: fixed;
    top: 70px;
    height: 35px;
    display: flex;
    width: 100%;
    background-color: #3B2C54;
    border-top: 2px solid #706FD3;
    box-shadow: 0px 5px 3px 0px rgba(0, 0, 0, 0.25);
}

#menu a {
    flex: 1;
    background-color: #3B2C54;
    color: white;
    border: auto;
    padding: 0;
    cursor: pointer;
    outline: none;
}

#menu a button,
#menu button {
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #3B2C54;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    outline: none;
}

#menu button:hover {
    background-color: #533f72;
}

main {
    margin-top: 105px;
    padding: 30px;
    background-color: rgba(195, 189, 201, 1);
}

main section {
    margin-bottom: 30px;
    padding: 20px;
    background-color: #f0f0f0;
    box-shadow: 0px 5px 3px 0px rgba(0, 0, 0, 0.25);
}

main h1 {
    font-family: "azeret-mono", monospace;
    font-size: 30px;
    font-weight: normal;
    margin: 0;
    color: rgba(44, 44, 84, 1);
    text-decoration: underline;
}
main h2 {
    font-family: "azeret-mono", monospace;
    font-size: 20px;
    font-weight: normal;
    margin: 0;
    color: rgba(44, 44, 84, 1);
    text-decoration: underline;
}

p {
    color: black;
    font-family: "Kodchasan", sans-serif;
}

main nav {
    bottom: 0;
    display: flex;
    width: 100%;
    background-color: #f0f0f0;
}

#filter {
    padding: 0;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    flex-wrap: wrap;
    width: 100%;
}

#filter button {
    background-color: #3B2C54;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    outline: none;
    margin: 10px;
    border-radius: 15px;
}

#filter button:hover {
    background-color: #533f72;
}

.project-head {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 20px;
    font-weight: normal;
    background-color: #3B2C54;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    outline: none;
    justify-content: space-between;
}
.project-head h2 {
    margin: 0;
    font-size: 20px;
    font-weight:bold;
    text-decoration: none;
    color: white;
}
.project-head div {
    align-items: center;
}
.project-head div button {
    background-color: #3B2C54;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    outline: none;
}

.project-head button:hover {
    background-color: #533f72;
}

.projects {
    list-style: none;
    margin: 0;
    padding: 0;
    border-left: 5px solid #3B2C54;
    border-bottom: 5px solid #3B2C54;
    box-shadow: 0px 5px 3px -2px rgba(0, 0, 0, 0.25);
}
.content {
    box-shadow: none;
}

.content h3 {
    color: rgba(44, 44, 84, 1);
    font-size: 20px;
}
.this-page{
    border-top: 2px solid #706FD3;
    box-shadow: 0px 5px 3px -2px rgba(0, 0, 0, 0.25);
}
@media (max-width: 442px) {
    header {
        height: 110px;
        flex-wrap: wrap;
        
    }
    #menu{
        position: fixed;
        top: 110px;
    }

    main {
        margin-top: 165px;
        padding: 5px;
    }
    #filter{
        grid-template-columns: repeat(2, 1fr);
    }
}
